.board {
    width: calc(100vw - 10rem);
    height: calc(100vh - 4rem);
    position: absolute;
    top: 4rem;
    left: 10rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: stretch;
}

.todocol,
.inprogresscol,
.completedcol {
    flex-grow: 1;
    padding: 0 0.5rem;
}
.todocol,
.inprogresscol {
    border-right: 1px solid #ffffff1a;
}

.add-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.todocol h3,
.inprogresscol h3,
.completedcol h3 {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
}
