/* --------GLOBAL STYLES-------- */


* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #1B1B21;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

button {
  border: none;
}

h3, p{
  margin: 0;
}
